<ion-view view-title="About">
  <ion-content>
    <ion-list>
      <h3 style="text-align: center; padding: 20px">مشروع بذور ويكيبيديا</h3>
      <h4 style="text-align: center; padding: 20px">هدفنا إثراء المحتوى العربي في موسوعة ويكيبيديا عبر إشراك الطلاب في ورشات تحرير تقوّي مهاراتهم في الكتابة الموسوعية</h4>
      <a type="button" href="https://www.facebook.com/groups/1529232844070480/" class="button button-block icon-left ion-social-facebook button-positive" style="width: 50%; margin-left: 25%">صفحتنا على الفيسبوك</a>


  </ion-content>
</ion-view>
